*, *::after. *::before {
box-sizing: border-box; 
}

html {
	font-family: "Open Sans", sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}

.column {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1;
	flex-basis: auto;
	justify-content: space-between;
}

.prod-category-container {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

.prod-list-container {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

.light {
	margin: 50px 0px;
	background-color: #E0E0E0;
	height: 200px;
	text-align: center;
	color: black;
} 

.dark {
	margin: 50px 0px;
	background-color: #A0A0A0;
	height: 200px;
	text-align: center;
	color: black;
}


.title {
	text-align: center;
	font-weight: lighter;
}

p {
	margin: 0px 0px;
}

.category-name {
	position: relative;
	top: 150px;
}

.light-grid {
	position: relative;
	margin: 50px 25px;
	background-color: #E0E0E0;
	height: 300px;
	text-align: center;
	color: black;
}

.dark-grid {
	position: relative;
	margin: 50px 25px;
	background-color: #A0A0A0;
	height: 300px;
	text-align: center;
	color: black;
}

.prod-photo {
	position: relative;
	border: 2px solid black;
	padding: 60px 50px;
}


.prod-name {
	position: absolute;
	text-align: left;
	padding-left: 20px;
}

.price {
	position: absolute;
	text-align: left;
	top: 175px;
	padding-left: 30px;

}
.rating {
	position: relative;
	text-align: left;
	top: 80px;
	padding-left: 20px;
}

.quick-view-btn  {
	position: relative;
	text-decoration: none;
	padding: 20px 15px;
	background-color:#606060;
	color: white;
	top: 125px;
	transition: 0.3s ease;
}

.quick-view-btn:hover  {
	background-color:#C0C0C0;
	color: black;
}

.path {
	font-weight: lighter;
	text-align: left;
}

.small-pic {
	background-color: #A0A0A0;
	width: 75px;
	height: 75px;
	margin: 25px 0px;
}

.item-pic {
	background-color: #A0A0A0;
	height: 500px;
	width: 500px;
	margin: 25px 0px;
}

.prod-description {
	border: 2px solid black;
	padding: 100px 100px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.quantity-btn {
	text-decoration: none;
	padding: 10px 10px;
	background-color: #A0A0A0;
	color: white;
}

.add-cart-button {
	text-decoration: none;
	padding: 10px 10px;
	background-color: #A0A0A0;
	color: white;
}

#nav-mod-logo {
	font-family: "Josefin Sans", sans-serif;
	color: #f8f8f8;
	padding-left: 30px;
}

.nav_link_icons {
	padding: 0px 0px;
	text-decoration: none;
	list-style: none;
}

.nav_link_icons li{
	display: inline-block;
	padding-right: 50px;
}

.nav-mod-h3 {
	margin: 0px 50px;
}

#nav-example {
	background-color:#313639 ;
	align-items: center;
	margin-bottom: 20px;
}

.nav_link_example {
	list-style: none;
	align-items: center;
}

.nav_link_example li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_link_example li a {
	text-decoration: none;
	color: #f8f8f8; /* off black */
	transition: 0.3s ease;
}

.nav_link_example li a:hover {
	color: #A86BE3;
}

#footer-example {
	background-color:#313639 ;
	align-items: center;
	margin-bottom: 20px;
	height: 350px;
}

.footer-left{
	margin-left: 75px;
	color: #f8f8f8;
}

.footer-line{
	border-left: 3px solid #f8f8f8;
	height:250px;
}

.footer-center{
	color:#f8f8f8;
	align-content: center;
	align-items: center;
	text-align:center;
	justify-content: space-between;
}

.footer-center-items{
	align-content: center;
	align-items: center;
}

.footer-right{
	margin-right: 75px;
	align-content: right;
	text-align: right;
	color: #f8f8f8;
}

.module-section {
	text-align: left;
	font-weight: lighter;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: flex-start;
	padding-bottom: 20px;
	
}

.module-section h2{
	border-bottom: 2px solid grey;
	margin-bottom: 0px;
}